.employee-form{
    max-width: calc(100vw - 100px);
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

.employee-form h2{
    margin: 0;
    font-size: 22px;

}
.employee-form .form-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.employee-form .form-header img{
    width: 175px;
}
.employee-form .form-title{
    margin-top: 4rem;
}

.form-field-section {
    margin-top: 20px;
  }
  
  .personal-information {
    padding-top: 10px;
  }
  
  .form-field {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px; 
  }
  .employee-form input, .employee-form select {
    background-color: white;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    position: relative;
    overflow: visible;
  }
  
  .employee-form input::placeholder {
 color: white;
  }
  .form-sub-field{
    display: flex;
  }
  .form-sub-field div{
    width: 100%;
  }

  .employee-form input:after {
    content: attr(placeholder); /* Use the placeholder value as content */
    display: block;
    position: absolute;
    bottom: -20px; /* Adjust the bottom position as needed */
    left: 0;
    font-size: 0.8em;
    color: #999; /* Adjust the color as needed */
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }