/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root{
  --menu-color:#0F172A;
  --heading-color:#818cf8 ;
}

.color-white{
  color: white;
}
